@font-face {
    font-family: Serif-regular;
    src: url(../css/fonts/PTSerif-Regular.ttf);
}

@font-face {
    font-family: Gill-sans;
    src: url(../css/fonts/GillSans.ttc);
}

@font-face {
    font-family: PT-serif;
    src: url(../css/fonts/PTSerif-Regular.ttf);
}