.blog-post-row {
    width: $contentwidth;
    margin: $center;
    margin-top: 30PX;
    height: 257px;
    // background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .blog-post-container {
        height: 257px;
        width: 460px;
        // background-color: aquamarine;
        display: flex;
        justify-content: space-between;
        a {
            text-decoration: none;
            .date {
                height: 60px;
                width: 60px;
                background-color: $sitepink;
                h2 {
                    font-family: Gill-sans;
                    font-style: bold;
                    font-size: 22px;
                    color: white;
                    padding: 10px 0px 0px 0px;
                    margin: 0 auto;
                    text-align: center;
                }
                p {
                    font-family: Gill-sans;
                    font-size: 12px;
                    color: white;
                    text-align: center;
                }
            }
        }
        
        .photo-text-container {
            width: 380px;
            height: 257px;
            .blog-img {
                width: 380px;
                height: 140px;
                background-image: url(../images/blog.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                overflow: hidden;
            }
            h1 {
                margin-top: 20px;
                font-family: Gill-sans;
                font-size: 16px;
            }
            h2 {
                margin-top: 11px;
                font-family: Gill-sans;
                font-size: 13px;
                color: $sitepink;
            }
        }
    }
}
.blog-post-row-last {
    width: $contentwidth;
    margin: $center;
    margin-top: 30PX;
    margin-bottom: 86px;
    height: 257px;
    // background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .blog-post-container {
        height: 257px;
        width: 460px;
        // background-color: aquamarine;
        display: flex;
        justify-content: space-between;
        a {
            text-decoration: none;
            .date {
                height: 60px;
                width: 60px;
                background-color: $sitepink;
                h2 {
                    font-family: Gill-sans;
                    font-style: bold;
                    font-size: 22px;
                    color: white;
                    padding: 10px 0px 0px 0px;
                    margin: 0 auto;
                    text-align: center;
                }
                p {
                    font-family: Gill-sans;
                    font-size: 12px;
                    color: white;
                    text-align: center;
                }
            }
        }
        
        .photo-text-container {
            width: 380px;
            height: 257px;
            .blog-img {
                width: 380px;
                height: 140px;
                background-image: url(../images/blog.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                overflow: hidden;
            }
            h1 {
                margin-top: 20px;
                font-family: Gill-sans;
                font-size: 16px;
            }
            h2 {
                margin-top: 11px;
                font-family: Gill-sans;
                font-size: 13px;
                color: $sitepink;
            }
        }
    }
}